In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv(r'C:/Users/AL MADINA COMPUTER/Desktop\Machine Learning/titanic.csv')
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [3]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Cabin','Ticket', 'Embarked'], axis='columns', inplace=True)

In [4]:
df.head(3)

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250

In [5]:
#le_Sex=LabelEncoder()

In [6]:
df.Sex = df.Sex.map({'male': 1, 'female': 2})

In [7]:
#df['Sex_n']=le_Sex.fit_transform(df['Sex'])

In [8]:
df.head(2)

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    2  38.0  71.2833

In [9]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [10]:
df.Age=df.Age.fillna(df.Age.mean())

In [11]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
dtype: int64

In [12]:
X=df.drop(['Fare', 'Sex'], axis='columns')

In [13]:
y=df.Fare

In [14]:
#le_Sex=LabelEncoder()

In [15]:
#df['Sex_n']=le_Sex.fit_transform(X_1['Sex'])

In [16]:
#df.head(2)

In [17]:
#X=df.drop(['Sex', 'Ticket'], axis='columns', inplace=True)

In [20]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2 )

In [23]:
len(X_train)

712

In [24]:
len(X_test)

179

In [25]:
model=tree.DecisionTreeClassifier()

In [26]:
model.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'